<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Appenders -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5p %C{1}.%M\(%F:%L\) - %m%n</pattern>
		</encoder>
	</appender>
	
	<logger name="java.sql" level="TRACE" />
	
	<!-- Spring Loggers -->
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.beans" level="INFO" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.web" level="INFO" />
	
	<!-- web Loggers -->
	<logger name="com.danawa.app.marketplace" level="DEBUG" />

	<!-- swagger -->
	<logger name="com.mangofactory" additivity="false" level="ERROR"/>
	
	<!-- MQ -->
	<logger name="org.apache.activemq" level="INFO" />
	
	<!-- root Logger -->
	<root level="TRACE">
		<appender-ref ref="stdout" />
	</root>
</configuration>