html {
	height:100%;
}

body {
	height:100%;
	background: #DDDDDD;
	font-size: 12px;;
	margin-left: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	text-align: center;
}

a, a:visited, a:active {
	color: #007dc6;
	text-decoration: none;
}

a:hover {
	color: #22b9ff;
	text-decoration: none;
}

a img {
	border-style: none;
	position: relative;
	top: 1px;
}

#wrapper-outer {
	background-color: #FFFFFF;
	min-width:1004px;
	position:relative; 
	margin:0px;
	margin-bottom:-45px;
	min-height:87%;
	padding: 0px;
	z-index: 0;
}
#wrapper {
	padding:0px;
	margin:0px;
	padding-bottom: 45px;
}

.valid label { 
	display: block; 
}
.valid label.error {
	color: red;	
}
.valid label.valid {
	color: green;
}

#topMenu {
	height: 65px;
	width:100%;
	position: relative;
}

#topMenu table {
	border-width: 1px;
	border:1px solid;
	border-right:2px solid #888899;
	border-color:#888899;
	background:#FFFFFF;
	background: url(../images/header.png);
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;

}

#logo {
	width:134px;
	height:40px;
	top:5px;
	left:5px;
	position: absolute;
	z-index: 10;
}

#logo a {
	display:block;
	width:124px;
	height:35px;
	background:transparent url('../images/ci_png.png') no-repeat;
}

#loginInfo {
	position: relative;
	text-align: right;
	color: #FFFFFF;
	width: 100%;
}
#loginType {
	color: #FC9;
	font-weight:bold;
}

#logout a, #logout a:visited, #logout a:active {
	color: #FFF;
	text-decoration: none;
}

#logout a:hover {
	color: #22b9ff;
	text-decoration: none;
}

#marketPlaceList {
	color: #FFFFFF;
	font-weight:bold;
	margin-left:20px;
	margin-top:12px;
	position: absolute;
}

#marketPlaceList option {
	background-color: #5889ED;
	color:#FFF;
}

#marketPlaceList select {
	padding:0px;
	height: 20px;
}

#topPadding {
	width:100%;
	height:15px;
	margin: 0px;
	padding: 0px;
	background: url(../images/topPadding.png);
}

#bottomMenu {
	padding-top:10px;
	width:100%;
	height:35px;
	background-color:#ffffff;
	z-index: 2;
	position: relative;
}

#bottomMenu table {
	background: url(../images/border_bottom.gif) repeat-x;
	border-bottom:2px solid #888899;
	border-right:2px solid #888899;
	border-color:#888899;
	width:100%;
	height:100%;
	margin: 0px;
	padding: 0px;
}

#paginationBottom {
	padding-top:7px;
	width:100%;
}

#articleInfo {
	width:100%;
	font-size:12px;
	text-align: left;
	color: maroon;
	margin-left: 13px;
}

.subTitle {
	font-family:dotum;
	color:#36A;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	padding-left: 13px;
	margin-left:9px;
	background: url(../images/document.gif) no-repeat;
}


input, select, textarea {
	color:#333;
	padding:1px;
	background:#FFFFFF;
	border:1px solid #999;
	font-family:gulim;
	font-size:12px;
}
input:focus, textarea:focus{border:1px solid #1AA}
input[type="button"], input[type="submit"] {
	color: #555;
	background:#EEE;
	border:1px solid #DDD;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
}
input[type="radio"],input[type="checkbox"] {border:0px}

input[type="button"]:HOVER{color:#06F;cursor: pointer;}
input[type="button"]:FOCUS{color:#FB7B7B}

table.table-list {
	font-size:12px;
	border-collapse:collapse;
	color:#444444;
	border-bottom:2px solid #888899;
	border-right:2px solid #888899;
	width:99%;
	margin-left: 5px;
}

table.table-list th {
	font-size:12px;
	color:#666644;
	background-color:#F5F5F5;
	border:1px solid #888899;
	padding-top:3px;
	padding-bottom:2px;
	text-align: center;
}

table.table-list .gradient-x {
	background: url(../images/gradient.png) repeat-x;
}

table.table-list td {
	color:#555;
	border:1px solid #CCC;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:5px;
	text-align: left;
}
table.table-list-no-gradient {
	font-size:12px;
	border-collapse:collapse;
	color:#444444;
	border-bottom:2px solid #888899;
	border-right:2px solid #888899;
	width:99%;
	margin-left: 5px;
}

table.table-list-no-gradient th {
	font-size:12px;
	color:#666644;
	background-color:#F5F5F5;
	border:1px solid #888899;
	padding-top:3px;
	padding-bottom:2px;
	text-align: center;
}

table.table-list-no-gradient td {
	color:#555;
	border:1px solid #CCC;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:5px;
	text-align: left;
}

table.table-big {
	font-size:52px;
	border-collapse:collapse;
	color:#444444;
	border-bottom:2px solid #888899;
	border-right:2px solid #888899;
	width:99%;
	margin-left: 5px;
}

table.table-big th {
	font-size:52px;
	color:#666644;
	background-color:#F5F5F5;
	border:1px solid #888899;
	padding-top:3px;
	padding-bottom:2px;
	text-align: center;
}

table.table-big td {
	font-size:52px;
	color:#555;
	border:1px solid #CCC;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:5px;
	text-align: center;
}


table.table-form {
	font-size:12px;
	border-collapse:collapse;
	color:#444444;
	border-bottom:2px solid #888899;
	border-right:2px solid #888899;
	width:99%;
	margin-left: 5px;
}

table.table-form th {
	width:15%;
	text-align:right;
	font-size:12px;
	color:#666644;
	background-color:#F5F5F5;
	border:1px solid #CCC;
	padding-top:3px;
	padding-bottom:2px;
	text-align: center;
}

table.table-form td {
	color:#555;
	border:1px solid #CCC;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:5px;
	text-align: left;
	empty-cells: show;
}

table.table-search {
	background:#EEF2F0;
	font-size:11px;
	border-collapse:collapse;
	color:#444444;
	border:1px solid #CCC;
	width:99%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
table.table-search input[type="submit"] {
	background:#E0EDFC;
	color:#39F;
	font-weight: bold;
}